body {
  margin: 0;
}

.m-file-tester {
  height: 100vh;
  & .header {
    font-size: 32px;
    display: block;
    text-align: center;
  }
  &__wizard-steps {
    display: block;
    text-align: center;
    & .step {
      cursor: pointer;
      width: 110px;
      height: 100%;
      padding: 16px;
      display: inline-block;
      background-color: #ccc;
      margin-right: 10px;
      &.is-active {
        color: steelblue;
        background-color: #eee;
        border: 1px solid #ccc;
      }
      & .label {
        display: block;
        font-size: 24px;
      }
      & .description {
        display: block;
        font-size: 16px;
      }
    }
  }
  &__file-handler {
    display: block;
    text-align: center;
    margin-top: 24px;
    & .file-field {
      margin-top: 24px;
    }
  }
  &__file-type-chooser {
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
    & div {
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      background-color: #ccc;
      margin-right: 10px;
      padding: 8px;
      box-shadow: 11px 10px 8px -4px rgba(0, 0, 0, 0.12);
      &.is-active {
        background-color: lightblue;
      }
    }
  }
  &__file-viewer {
    display: block;
    padding: 20px;
    margin: 10px;

    & .header {
      font-size: 20px;
      display: block;
      margin-bottom: 10px;
      border-bottom: 1px solid #aaa;
      text-align: left;
      font-weight: 700;
    }
    & .data {
      height: 100%;
      display: grid;
      & .download-link {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 16px;
        display: block;
      }
      & .header {
        border-bottom: unset;
      }
      & .good-data-container {
        & .row:nth-child(3) {
          background-color: lightblue !important;
          font-weight: 900;
        }
        & .row:nth-child(2n + 1) {
          background-color: #ddd;
        }
      }
      & .row {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        border-top: 1px solid black;
        border-right: 1px solid black;
        background-color: #fff;

        & .field {
          display: inline-block;
          text-align: center;
          margin-right: 8px;
          border-left: 1px solid black;
          padding: 8px;
        }
        &:last-child {
          border-bottom: 1px solid black;
        }
      }

      & .bad-data-container {
        margin-top: 24px;
        & .row {
          background-color: lightcoral;
        }
      }
    }
  }
}
